
Processing_functions/.DS_Store
.DS_Store
paths_credentials_etc
HidroCL.sublime-project
HidroCL.sublime-workspace
Processing_functions/.ipynb_checkpoints/snow_processing-checkpoint.py
*.ipynb
Processing_functions/hidrocl_paths.py
Processing_functions/hidrocl_paths.R
Processing_functions/.Rhistory
OSX_configutation
