
Processing_functions/.DS_Store
.DS_Store
paths_credentials_etc
HidroCL.sublime-project
HidroCL.sublime-workspace
Processing_functions/.ipynb_checkpoints/snow_processing-checkpoint.py
*.ipynb
Processing_functions/hidrocl_paths.py
Processing_functions/hidrocl_paths.R
Processing_functions/.Rhistory
OSX_configutation
DownloadFunctions/hidrocl_paths.py
DownloadFunctions/hidrocl_paths.R
DownloadFunctions/.ipynb_checkpoints/earthdata_download-checkpoint.py
DownloadFunctions/__pycache__/hidrocl_paths.cpython-310.pyc
Processing_functions/__pycache__/hidrocl.cpython-310.pyc
Processing_functions/__pycache__/hidrocl_paths.cpython-310.pyc
.vscode/settings.json
DownloadFunctions/persiann_download.py
HidroCL-DBCreation.code-workspace
