*.DS_Store
paths_credentials_etc
HidroCL.sublime-project
HidroCL.sublime-workspace
*hidrocl_paths.py
*hidrocl_paths.R
*.Rhistory
OSX_configutation
.vscode/settings.json
HidroCL-DBCreation.code-workspace
hidrocl_conda.yaml
*hidrocl_paths_tests.py
Class tests/Untitled.ipynb
Class tests/hidroclabc.py
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/__pycache__/*
.idea/vcs.xml
.gitignore
.idea/HidroCL-DBCreation.iml
.idea/modules.xml
